* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.background {
	width: 100vw;
	height: 100vh;
	padding-top: 2%;
	background-color: rgb(18, 18, 18);
	color: rgb(255, 0, 255);
}

.rowGrid {
	display: flex;
	justify-content: center;
}

.rowGrid > div {
	width: 150px;
	height: 150px;
	background-color: rgb(18, 18, 18);
	margin: 5px;
	border: solid 5px rgb(255, 0, 255);
	box-shadow: 7px 7px 19px 9px rgba(255, 0, 255, 0.64);
}
.rowGrid > div:hover {
	background-color: rgb(96, 93, 93);
}

/*CELL*/
.cross {
	position: relative;
	z-index: 2;
	font-size: 80pt;
	color: rgb(234, 255, 0);
	opacity: 2;
	background-color: #8012ac;
}

.hidden {
	opacity: 0;
}

.circle {
	position: relative;
	z-index: 3;
	font-size: 80pt;
	color: rgb(0, 255, 238);
	background-color: rgb(238, 170, 22);
}

/*Navbar*/
.backgroundNav {
	background-color: rgb(18, 18, 18);
	border-bottom: solid 1px rgb(255, 0, 255, 0.65);
	padding-bottom: 2%;
}
.backgroundNav > h2 {
	text-shadow: 0 0 15px #fff, 0 0 20px #49ff18;
	color: #ffffff;
}
.backgroundNav > h1 {
	color: yellow;
	margin-top: 0%;
	padding-top: 0;
}
.containerPlayerNav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: blueviolet;
}
.buttonNav {
	display: flex;
	justify-content: center;
	padding: 2% 0px 2% 0px;
}

.buttonRefresh {
	width: 10em;
	height: 30px;
	padding: 5px;
	align-content: center;
	background-color: chocolate;
	border-radius: 25px;
	cursor: pointer;
	color: azure;
}

.buttonRefresh:hover {
	background-color: rgb(245, 230, 11);
	color: chocolate;
}

.playerCurrent {
	border-radius: 10px;
	border: #8012ac solid 2px;
	padding: 10px;
}

.winner {
	background-color: #49ff18;
}

/*ModalShowWinner*/
.containerModal {
	width: 100vw;
	height: 137vh;
	background-color: black;
	position: absolute;
	top: 0%;
	z-index: 5;
	opacity: 0.7;
}
.cardModal {
	position: absolute;
	z-index: 6;
	margin-left: 25%;
	width: 50%;
	height: 60%;
	background-color: beige;
	opacity: 5;
	display: flex;
	flex-direction: column;
}

.titleCardModal {
	padding-top: 5px;
	font-weight: 900;
	font-size: xx-large;
}

.buttonModal {
	display: flex;
	justify-content: center;
}

/*Winner*/
.containerWinner {
	margin: auto;
	height: 90%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: end;
}
.sign {
	font-size: 90pt;
	font-weight: bolder;
	padding: 0px;
	margin: 0px;
}
.containerPodium1 {
	margin-top: 0px;
	width: 100%;
	height: 160px;
	background-color: rgb(71, 53, 3);
	color: #fff;
}
.containerPodium2 {
	width: 100%;
	height: 120px;
	background-color: rgb(71, 53, 3);
	color: #fff;
}
.first {
	translate: 0px 30px;
	animation: jump 2s ease-in-out infinite alternate-reverse;
}
.second {
	translate: 0px 30px;
}

@keyframes jump {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-30px);
	}
}

/*Media query*/
@media screen and (max-width: 570px) {
	.cardModal {
		width: 80%;
		height: 70%;
		margin-left: 10%;
	}
	.containerModal {
		height: 130vh;
	}
}

@media screen and (min-width: 1400) {
	.cardModal {
		width: 100%;
	}
}
