* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.background {
	width: 100vw;
	height: 100vh;
	padding-top: 2%;
	background-color: rgb(18, 18, 18);
	color: rgb(255, 0, 255);
}

.rowGrid {
	display: flex;
	justify-content: center;
}

.rowGrid > div {
	width: 150px;
	height: 150px;
	background-color: rgb(18, 18, 18);
	margin: 5px;
	border: solid 5px rgb(255, 0, 255);
	box-shadow: 7px 7px 19px 9px rgba(255, 0, 255, 0.64);
}
.rowGrid > div:hover {
	background-color: rgb(96, 93, 93);
}

/**/
.cross {
	position: relative;
	z-index: 2;
	font-size: 80pt;
	color: rgb(234, 255, 0);
	opacity: 2;
}

.hidden {
	opacity: 0;
}

.circle {
	position: relative;
	z-index: 3;
	top: -10px;
	font-size: 90pt;
	color: rgb(0, 255, 238);
}

/*Navbar*/
.backgroundNav {
	background: rgb(118, 79, 0);
	background: linear-gradient(
		90deg,
		rgba(118, 79, 0, 1) 0%,
		rgb(255, 0, 255) 0%,
		rgba(255, 243, 0, 1) 100%
	);
	padding: 2%;
}
.containerPlayerNav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: blueviolet;
}

.buttonRefresh {
	width: 8%;
	height: 30px;
	padding: 5px;
	align-content: center;
	background-color: chocolate;
	border-radius: 25px;
	cursor: pointer;
	color: azure;
}

.buttonRefresh:hover {
	background-color: rgb(245, 230, 11);
	color: chocolate;
}
